<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Register</title>
        <link rel="stylesheet" type="text/css" href="./views/style.css">
    </head>
    <body>
        <div class="header">
            <p class = "headerTitle">Something title</p>
            <table class="headerTable">
                <th class="headerTh">
                    <a href="/" class = "headerLink">Home</a>
                </th>
                <th class="headerTh">
                    <a href="/dashboard" class = "headerLink">Dashboard</a>
                </th>
                <th class="headerTh">
                    <a href="/account" class = "headerLink">Account</a>
                </th>
            </table>
        </div>