<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <link rel="stylesheet" href="/views/style.css">
        <script src="/views/script.js"></script>
    </head>
    <body>
        Welcome <%-username%>
    </body>
</html>
