
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>LogIn</title>
        <link rel="stylesheet" href="/views/style.css">
        <script src="/views/script.js"></script>
    </head>
    <body>
        Thank you for loging in, <%-user%>
    </body>
</html>
