<%- include("header")%>
<div class="divLogIn">
    <form action="/login/" method="post" class="formLogIn">
        <input type="text" name="email" placeholder="Enter your username" class="logIn">
        <input type="password" name="password" placeholder="Enter your password" class="logIn">
        <input type="submit" value="Log In" style="text-align:center" class="logIn">
        New user? <a href="/register" style="color: white; font-size: small;">Register here</a>
    </form>
</div>
<%- include("footer") %>