<%- include("header")%>

<div class="divLogIn">
    <form action="/register/" method="post" class="formLogIn">
        <input type="text" name="email" placeholder="Enter your email" class="logIn">
        <input type="password" name="password" placeholder="Enter your password" class="logIn">
        <input type="text" name="role" placeholder="Enter your role" class="logIn">
        <input type="text" name="Id" placeholder="Enter your Id" class="logIn">
        <input type="text" name="name" placeholder="Enter your name" class="logIn">
        <button type="submit" style="text-align:center" class="logIn">Register</button>
    </form>
</div>

<%- include("footer") %>