<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Register</title>
        <link rel="stylesheet" type="text/css" href="./views/style.css">
        <script src="/script.js"></script>
    </head>
    <body>
        <div class="header">
            <p class = "headerTitle">Something title</p>
            <table class="headerTable">
                <th class="headerTh">
                    <a href="/home" class = "headerLink">Home</a>
                </th>
                <th class="headerTh">
                    <a href="/dashboard" class = "headerLink">Dashboard</a>
                </th>
                <th class="headerTh">
                    <a href="/account" class = "headerLink">Account</a>
                </th>
            </table>
        </div>
        <div class="divLogIn">
            <form action="/register/" method="post" class="formLogIn">
                <input type="text" name="email" placeholder="Enter your email" class="logIn">
                <input type="password" name="password" placeholder="Enter your password" class="logIn">
                <input type="text" name="role" placeholder="Enter your role" class="logIn">
                <input type="text" name="Id" placeholder="Enter your Id" class="logIn">
                <input type="text" name="name" placeholder="Enter your name" class="logIn">
                <input type="submit" value="Log In" style="text-align:center" class="logIn">
            </form>
        </div>
        
    </body>
</html>
